#container {
	width: 100%;
	height: 100%;
}

#text {
	float: left;
}

#textWindow {
	padding: 1em;
	background: #CCCCCC;
	margin-bottom: 1em;
	max-height: 500px;
	width: 425px;
	overflow: auto;
}

#gameWindow {
	padding: 1em;
	float: right;
	background: #CCCCCC;
}

#gameForm {
	display: none;
}

#gameInput {
	display: none;
}

#cmd {
	display: none;
}

#cmdWindow {
	display: none;
	padding: 1em;
	background: #444245;
	margin-top: 1em;
	height: 150px;
	width: 250px;
	overflow: auto;
	color: #C48CED;
	font-weight: bold;
}

#inputError {
	display: inline;
	padding-left: 1em;
}

#inputContainer {
	display: none;
}
